h1 {
  text-align: center;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
}

body {
  background-color: #091d36;
  color: white;
  font-family: "Avenir Next" !important;
}

#container{
  position: absolute;
  text-align:center;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


a {
  color: inherit;
  text-decoration: inherit;
}

.buttons-container {
  margin: auto;
  padding: 10px;
  margin-top: 40px;
}

.button {
  display: inline;
  border: 4px solid #f1f1f0;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  font-size: 25px;
  vertical-align: bottom;

  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_circles */
.dot {
  height: 25px;
  width: 25px;
  border: 2px solid #f1f1f0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot-selected {
  height: 25px;
  width: 25px;
  border: 2px solid #f1f1f0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #f1f1f0;
}

.submit-button {
  padding: 12px;
  margin: 10px;
  background-color: #f1f1f0;
  border: 0;
  border-radius: 4px;
  color: #091d36;
  text-decoration: none;
  font-size: 20px;
}
