
h1 {
  text-align: center;
  font-weight: 500;
  padding: 10px;
  margin: 5px;
}

h6 {
  text-align: center;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

body {
  background-color: #091d36;
  color: white;
  font-family: "Avenir Next" !important;
}

.container{
  display: none;
  position: absolute;
  text-align:center;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


a {
  color: inherit;
  text-decoration: inherit;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  margin-top: 40px;
}

.button {
  border-radius: 8px;
  border: 0px solid #f1f1f0;
  padding: 15px;
  margin: 15px;
  font-size: 25px;
  vertical-align: bottom;
  background-color: rgb(194, 210, 233);
  color: rgb(58, 78, 122);
  cursor: pointer;
}

.nav-button{
  background-color:#3a4e7a;
  color:#f1f1f0;
  font-size: 24px;
  text-decoration: none;
  width: 150px;
  padding: 15px;
  margin: 15px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}

.nav-button:hover{
  background-color:#5e83ba;
  border-color: #5e83ba;
}

input{
  width: 10%;
  border-radius: 8px;
  font-size: 20px;
  border: 0px solid #f1f1f0;
  padding: 10px;
  margin: 15px;
  height: 42px;
}
