
h1 {
    text-align: center;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
  }
  
  .result{
    font-size:50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow:  0 0 20px black;
    font-weight: 600;
  }
  
  .container{
    display: none;
    position: absolute;
    text-align:center;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 95%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  body {
    background-color: #091d36;
    color: white;
    font-family: "Avenir Next" !important;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
  }
  
  .nav-button{
    background-color:#3a4e7a;
    color:#f1f1f0;
    font-size: 24px;
    text-decoration: none;
    width: auto;
    padding: 15px;
    margin: 15px;
    border:none;
    border-radius: 10px;
  }
  
  .nav-button:hover{
    background-color:#5e83ba;
    border-color: #5e83ba;
  }
  
  #graph {
    background-color: #091d36;
    width: 500px;
    margin: auto;
  }
